.card {
  cursor: pointer;
  max-width: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  flex-wrap: nowrap;
  border: 2px solid #ec7329;
  background: linear-gradient(#182c47, #161616);
  border-radius: 10px;
  text-align: center;
}

.date {
  width: 100%;
  font-size: 22px;
  font-weight: 700;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin: 0px;
  margin-bottom: 2px;
}

.img {
  width: auto;
  height: 60px;
  margin-bottom: 10px;
}

.team_container {
  margin: 10px;
}

.team_name {
  font-size: 16px;
  margin: 0px;
}

.team_text {
  font-size: 24px;
  font-weight: 700;
}
