.card {
  position: relative;
  box-sizing: border-box;
  flex-shrink: 0;
  cursor: pointer;
  max-width: 353px;
  padding-top: 35px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border: 2px solid #ec7329;
  border-radius: 10px;

  background: linear-gradient(to bottom, #182c47, #161616);
  background-size: 100% 200%;
  animation: card 0.5s linear infinite;
}

.wrapper {
  max-width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

.name {
  border-radius: 5px 5px 0px 0px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: #ec7329;
}

.status,
.date,
.name {
  margin: 0px;
  font-size: 18px;
  font-weight: 700;
}

.status {
  width: 63px;
  height: 26px;
}

.date {
  width: 124px;
  height: 26px;
}

.status_color {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.team__img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.team__name {
  width: 250px;
  height: 18px;
  margin: 0px;
  font-size: 16px;
  font-weight: 500;
}

.line {
  width: 400px;
  border-radius: 10px;
  border: 2px solid #ec7329;
}

@keyframes card {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 0 100%;
  }

  100% {
    background-position: 0 0;
  }
}
