.container{
  width: 100%;
}

input {
  width: 100%;
  box-sizing: border-box;
  max-width: 100%;
  padding: 14px;
  background-color: #ec7329;
  border: none;
  border-radius: 20px;
  font-size: 22px;
  font-weight: 700;
}

input[type="date"] {
  color: #ffff;
  appearance: none;
  -webkit-appearance: none;
  padding: 14px;
}

input::placeholder {
  color: #ffff;
  font-size: 22px;
  padding-right: 20px;
}

label {
  display: block;
  padding-bottom: 10px;
  font-size: 24px;
  font-weight: 700;
}

.error {
  color: rgb(212, 17, 17);
}
