.mobile__menu {
  display: none;
}

@media screen and (max-width: 430px) {
  .mobile__menu {
    width: 100%;
    position: fixed;
    bottom: 0;
    padding-top: 11px;
    padding-bottom: 11px;
    display: block;
    background-color: #ec7329;
    align-items: center;
  }

  .container {
    padding-left: 40px;
    padding-right: 40px;
    margin: 0px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }

  .mobile__line {
    height: 25px;
    background: linear-gradient(#182c47, #161616);
    border: 1px solid black;
  }

  .mobile__icon {
    width: auto;
    height: 25px;
  }
}
