.title {
  margin: 0px;
  padding-top: 11px;
  padding-bottom: 11px;
  font-size: 28px;
  font-weight: 700;
  background-color: #ec7329;
  text-align: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.wrapper {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}
