.form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  align-items: center;
}

.player__name {
  text-align: left;
  margin: 0px;
  font-size: 1.2rem;
  font-weight: 700;
}

.button_submit {
  font-size: 24px;
  font-weight: 700;
}

span {
  width: 100%;
}

@media screen and (max-width: 321px) {
  .player__name {
    text-align: left;
    margin: 0px;
    font-size: 1rem;
    font-weight: 700;
    text-overflow: ellipsis;
  }

  .player__img {
    width: 45px;
    height: 45px;
    border: 2px solid #ec7329;
    border-radius: 100%;
    object-fit: cover;
  }
}
