.wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;

  align-items: center;
}

.text {
  margin: 0px;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
}

.success {
  width: 100%;
  height: auto;
}

.button {

  display: flex;
  justify-content: center;
  cursor: pointer;
  width: 100%;
  border: none;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ec7329;
  color: #ffff;
  border-radius: 20px;
  font-size: 24px;
  align-items: center;
  transition: 0.3s ease-in-out;
}

.button:hover {
  background-color: #fc873f;
}
