.card {
  position: relative;
  box-sizing: border-box;
  flex-shrink: 0;
  cursor: pointer;
  max-width: 353px;
  padding-top: 35px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border: 2px solid #ec7329;
  background: linear-gradient(#182c47, #161616);
  border-radius: 10px;
}

.wrapper {
  max-width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

.name {
  border-radius: 5px 5px 0px 0px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: #ec7329;
}

.status,
.date,
.name {
  margin: 0px;
  font-size: 18px;
  font-weight: 700;
}

.status_color {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  animation-name: flicker;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes flicker {
  0% {
    opacity: 100%;
  }

  50% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

.team__img {
  width: 30px;
  height: auto;
}

.team__name {
  margin: 0px;
  font-size: 18px;
  font-weight: 500;
}

.team__points {
  margin: 0px;
  font-size: 22px;
  font-weight: 700;
}

.line {
  width: 400px;
  border-radius: 10px;
  border: 1px solid #ec7329;
}
