.content {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  justify-content: space-between;
}

.wrapper {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0px;
  padding-top: 11px;
  padding-bottom: 11px;
  font-size: 28px;
  font-weight: 00;
  background-color: #ec7329;
  text-align: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.team__img {
  max-width: 60px;
  height: auto;
}

.team__name {
  margin: 0px;
  font-size: 16px;
  font-weight: 500;
}

.status {
  margin: 0px;
  font-size: 24px;
  font-weight: 700;
}

.score {
  margin: 0px;
  font-size: 24px;
  font-weight: 700;
}

.line {
  width: 100%;
  border-radius: 10px;
  border: 1px solid #ffffff;
}

.line_card {
  height: 80px;
  border: 1px solid #ffffff8a;
  border-radius: 10px;
}

.header {
  margin: 0px;
  width: 100%;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}

.team {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.player__card {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.player__img {
  border: 1px solid #ec7329;
  border-radius: 100%;
  width: 55px;
  height: 55px;
  object-fit: cover;
}

.player__name {
  text-align: center;
  margin: 0px;
  font-size: 18px;
  font-weight: 700;
}

.player__score {
  margin: 0px;
  font-size: 24px;
  font-weight: 700;
}

@media screen and (max-width: 390px) {
  .team__name {
    margin: 0px;
    font-size: 12px;
    font-weight: 500;
  }

  .status {
    margin: 0px;
    font-size: 18px;
    font-weight: 700;
  }

  .score {
    margin: 0px;
    font-size: 18px;
    font-weight: 700;
  }
}

@media screen and (max-width: 320px) {
  .team__name {
    margin: 0px;
    font-size: 12px;
    font-weight: 500;
  }

  .status {
    margin: 0px;
    font-size: 16px;
    font-weight: 700;
  }

  .score {
    margin: 0px;
    font-size: 16px;
    font-weight: 700;
  }
}