.header {
  padding-left: 20px;
  padding-right: 20px;
  position: top;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ec7329;
}

.container {
  display: none;
}

.header_logo {
  width: auto;
  height: 80px;
}

.navigation {
  width: 100%;
  margin-left: 30px;
  display: flex;
  gap: 30px;
  align-items: center;
}

@media screen and (max-width: 425px) {
  .header {
    padding: 0px;
    position: sticky;
    z-index: 15;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ec7329;
  }

  .header_logo {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    width: auto;
    height: 50px;
  }
  .navigation {
    display: none;
  }
}
