.header {
  position: top;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #ec7329;
}

.container {
  display: none;
}

.header_logo {
  width: auto;
  height: 100px;
}

nav {
  margin-left: 30px;
  width: 100%;
  display: flex;
  gap: 30px;
  align-items: center;
}

@media screen and (max-width: 400px) {
  nav {
    display: none;
  }
}
