.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #ec7329;
}

.header_logo {
  width: auto;
  height: 100px;
}

nav {
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
}
