.header {
  position: top;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #ec7329;
}

.container {
  display: none;
}

.header_logo {
  width: auto;
  height: 100px;
}

nav {
  margin-left: 30px;
  width: 100%;
  display: flex;
  gap: 30px;
  align-items: center;
}

@media screen and (max-width: 400px) {
  nav {
    display: none;
  }

  .container {
    display: block;
    background: linear-gradient(#182c47, #161616);
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 10px;
  }

  .burgerCheckbox {
    position: absolute;
    visibility: hidden;
  }
  .burger {
    cursor: pointer;
    display: block;
    position: relative;
    border: none;
    background: transparent;
    width: 40px;
    height: 26px;
  }
  .burger::before,
  .burger::after {
    content: "";
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 10px;
    background: #ec7329;
  }
  .burger::before {
    top: 0;
    box-shadow: 0 11px 0 #ec7329;
    transition:
      box-shadow 0.3s 0.15s,
      top 0.3s 0.15s,
      transform 0.3s;
  }
  .burger::after {
    bottom: 0;
    transition:
      bottom 0.3s 0.15s,
      transform 0.3s;
  }
  .burgerCheckbox:checked + .burger::before {
    top: 11px;
    transform: rotate(45deg);
    box-shadow: 0 6px 0 rgba(0, 0, 0, 0);
    transition:
      box-shadow 0.15s,
      top 0.3s,
      transform 0.3s 0.15s;
  }
  .burgerCheckbox:checked + .burger::after {
    bottom: 11px;
    transform: rotate(-45deg);
    transition:
      bottom 0.3s,
      transform 0.3s 0.15s;
  }
}
