.header {
  max-width: 100%;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #ec7329;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  gap: 50px;
  align-items: center;
}

.header_logo {
  width: auto;
  height: 100px;
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

ul {
  display: flex;
  gap: 30px;
  margin: 0px;
  padding: 0px;
}

li {
  list-style-type: none;
}
