.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #ec7329;
}

.header_logo {
  width: auto;
  height: 100px;
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

ul {
  display: flex;
  gap: 20px;
  margin: 0px;
  padding: 0px;
  align-items: center;
}

li {
  list-style-type: none;
}
