.header {
  max-width: 100%;
  padding: 10px;
  background-color: #ec7329;
  border-radius: 12px;
  display: flex;
  gap: 100px;
  align-items: center;
}

.header_logo {
  width: auto;
  height: 100px;
}

ul {
  display: flex;
  gap: 30px;
  margin: 0px;
  padding: 0px;
}

li {
  list-style-type: none;
}
