.title {
  margin: 0px;
  padding-top: 11px;
  padding-bottom: 11px;
  font-size: 28px;
  font-weight: 00;
  background-color: #ec7329;
  text-align: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.wrapper {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.inputBlock {
  width: 100%;
}

label {
  display: block;
  padding-bottom: 10px;
  font-size: 24px;
  font-weight: 700;
}

.button {
  cursor: pointer;
  width: 100%;
  border: none;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ec7329;
  border-radius: 20px;
}

.button_submit {
  font-size: 24px;
  font-weight: 700;
}

input {
  width: 100%;
  box-sizing: border-box;
  max-width: 100%;
  padding: 14px;
  background-color: #ec7329;
  border: none;
  border-radius: 20px;
  font-size: 22px;
  font-weight: 700;
}

input[type="date"] {
  color: #ffff;
  appearance: none;
  -webkit-appearance: none;
  padding: 14px;
}

input::placeholder {
  color: #ffff;
  font-size: 22px;
  padding-right: 20px;
}
