.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #ec7329;
}

.socials {
  max-width: 126px;
  margin: 0px auto;
  margin-bottom: 20px;
}

.socials__title {
  font-size: 18px;
  font-weight: 600;
  margin: 0px;
  margin-bottom: 16px;
}

.icons__container {
  display: flex;
  gap: 10px;
}

.social__icon {
  width: auto;
  height: 24px;
}

.text {
  margin: 0px;
  font-size: 18px;
  font-weight: 600;
}
