.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #ec7329;
}

.socials {
  max-width: 126px;
  margin: 0px auto;
  margin-bottom: 20px;
  text-align: center;
}

.socials__title {
  font-size: 18px;
  font-weight: 600;
  margin: 0px;
  margin-bottom: 16px;
}

.icons__container {
  display: flex;
  gap: 10px;
}

.social__icon {
  width: auto;
  height: 24px;
}

.text {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}


@media screen and (max-width: 430px) {
  .footer{
    display: none;
  }
}
