input {
  width: 100%;
  box-sizing: border-box;
  max-width: 100%;
  padding: 14px;
  background-color: #ec7329;
  border: none;
  border-radius: 20px;
  font-size: 22px;
  font-weight: 700;
}

label {
  display: block;
  padding-bottom: 10px;
  font-size: 24px;
  font-weight: 700;
}

.error {
  color: rgb(212, 17, 17);
}
