.title {
  margin: 0px;
  margin-left: 20px;
  margin-bottom: 16px;
  text-align: left;
  font-size: 22px;
  font-weight: 700;
}

.cards_container {
  margin-left: 20px;
  display: flex;
  gap: 20px;
  overflow: scroll;
  scrollbar-width: none;
}
