.card {
  max-width: auto;
  flex-wrap: nowrap;
  border: 1px solid #ec7329;
  border-radius: 18px;
}

.date {
  width: 100%;
  background-color: #ec7329;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin: 0px;
  margin-bottom: 10px;
}

.img {
  width: auto;
  height: 120px;
}

.team_container{
    margin: 10px;
}

.team_name{
    margin: 0px;
}
