:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #182c47;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scrollbar-width: thin;
  scrollbar-color: #ec7329 #101d2e;

  background-image: url("./assets/images/Background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

body {
  margin: 0px;
}

a {
  font-size: 22px;
  font-weight: 300;
  color: #ffffff;
  text-decoration: none;
  transition: 0.4s ease-in-out;
}
a:hover {
  color: #182c47;
}

a.active {
  color: #182c47;
  text-decoration: underline #182c47;
}

a,
p,
div,
h1,
h2,
h3,
input,
label {
  font-family: "Jura";
}

@media screen and (max-width: 425px) {
  :root {
    background: linear-gradient(#182c47, #161616);
    background-repeat: no-repeat;
    background-size: cover;
  }

  a.active {
    color: #ec7329;
    text-decoration: underline #182c47;
  }
}
