:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #182c47;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scrollbar-width: thin;
  scrollbar-color: #ec7329 #101d2e;

  background-image: url("./assets/images/Background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-position-y: -50px;
  
  padding-bottom: 170px;
}

body {
  margin: 0px;
}

a {
  font-size: 22px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  transition: 0.4s ease-in-out;
}
a:hover {
  color: #182c47;
}

a,
p,
div,
h1,
h2,
h3 {
  font-family: "Jura";
  font-weight: 400;
}
