.container {
  width: 100%;
}

h2 {
  margin: 0px;
}

.pciked__users {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  gap: 22px;
  overflow: scroll;
  scrollbar-width: none;
}

.player__img {
  width: 55px;
  height: 55px;
  border: 2px solid #ec7329;
  border-radius: 100%;
  object-fit: cover;
}

.users__initials {
  font-size: 18px;
  font-weight: 700;
  margin: 0px;
  text-align: center;
}

.button {
  display: flex;
  justify-content: center;
  cursor: pointer;
  width: 100%;
  border: none;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ec7329;
  color: #ffff;
  border-radius: 20px;
  font-size: 24px;
  align-items: center;
  transition: 0.3s ease-in-out;
}

.button:hover {
  background-color: #fc873f;
}
